.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px; /* расстояние между ячейками */
}

.item {
    background-color: aqua;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    margin: 0px;
}

@media (max-width: 600px){
    .gallery {
            grid-template-columns: 1fr;
        }
}